<script setup>
import { ref } from "vue";

const props = defineProps(["seat"]);
const emit = defineEmits(["choose-place"]);

const isFocused = ref(false);

const showHint = () => {
  isFocused.value = true;
};

const hideHint = () => {
  isFocused.value = false;
};

const choosePlace = () => {
  emit("choose-place", props.seat.id);
};
</script>

<template>
  <template v-if="!seat.selected">
    <button
      class="seat"
      @mouseenter="showHint"
      @mouseleave="hideHint"
      @click="choosePlace"
    >
      <div class="seat__name">
        {{ seat.number }}
      </div>

      <div v-show="isFocused" class="seat__hint">
        <div>
          <span class="seat__row">Ряд {{ seat.row }}</span>
          <span>Место {{ seat.number }}</span>
        </div>

        <div>Цена {{ seat.price }} руб.</div>
      </div>
    </button>
  </template>

  <div v-else class="seat__occupied">
    {{ seat.number }}
  </div>
</template>

<style scoped>
.seat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #692ef6;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  width: 50px;
  margin: 0 5px 10px 0;
  cursor: pointer;
  align-items: center;
}

.seat:hover,
.seat:focus {
  background-color: #7203a5;
}

.seat__name {
  text-align: center;
  cursor: pointer;
}

.seat__row {
  margin-right: 5px;
}

.seat__hint {
  position: absolute;
  width: max-content;
  background-color: #d226d9;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  top: 50%;
  transform: translate(75%, -50%);
  z-index: 1;
}

.seat__occupied {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: rgb(128, 128, 128);
  border-radius: 50%;
  margin: 0 5px 10px 0;
}
</style>
