<script setup>
const props = defineProps({
  text: {
    type: String,
    required: true,
  },
  type: {
    type: String,
    default: "success",
    validator: (value) => {
      return ["success", "warning", "danger"].includes(value);
    },
  },
});

</script>

<template>
  <div class="alert" :class="type">
    {{ text }}
  </div>
</template>

<style scoped>
.alert {
  padding: 10px 25px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto 20px;
  opacity: 0.8;
}

.success {
  background-color: rgb(32, 170, 39);
}

.danger {
  background-color: rgb(194, 47, 47);
}

.warning {
  background-color: rgb(194, 179, 47);
}
</style>
