<script setup>
import { ref, reactive } from "vue";
import PlaceSeat from "./components/PlaceSeat.vue";
import UiLoader from "./components/common/UiLoader.vue";
import AlertMessage from "./components/common/AlertMessage.vue";

const session = reactive({
  time: "14:00",
  name: "Barbie",
  seats: [
    { id: 1, row: 1, number: 1, price: 400, selected: false },
    { id: 2, row: 1, number: 2, price: 400, selected: false },
    { id: 3, row: 1, number: 3, price: 400, selected: false },
    { id: 4, row: 1, number: 4, price: 400, selected: false },
    { id: 5, row: 1, number: 5, price: 400, selected: false },
    { id: 6, row: 1, number: 6, price: 400, selected: false },
    { id: 7, row: 1, number: 7, price: 400, selected: false },
    { id: 8, row: 1, number: 8, price: 400, selected: false },
    { id: 9, row: 1, number: 9, price: 400, selected: false },
    { id: 10, row: 1, number: 10, price: 400, selected: false },
    { id: 11, row: 2, number: 1, price: 300, selected: false },
    { id: 12, row: 2, number: 2, price: 300, selected: false },
    { id: 13, row: 2, number: 3, price: 300, selected: false },
    { id: 14, row: 2, number: 4, price: 300, selected: false },
    { id: 15, row: 2, number: 5, price: 300, selected: false },
    { id: 16, row: 2, number: 6, price: 300, selected: false },
    { id: 17, row: 2, number: 7, price: 300, selected: false },
    { id: 18, row: 2, number: 8, price: 300, selected: false },
    { id: 19, row: 2, number: 9, price: 300, selected: false },
    { id: 20, row: 2, number: 10, price: 300, selected: false },
  ],
});
const isLoading = ref(false);
const alertMessage = ref("");

const bookSeat = async (seatId) => {
  // Отправляем запрос на сервер о бронировании выбранных мест
  try {
    isLoading.value = true;
    const seatForm = {
      userId: 0, // моковый id, в реальности этот параметр уже будет в headers
      pointId: seatId,
      time: session.time,
    };

    const formData = new FormData();
    formData.append("bookSeat", seatForm);

    await new Promise((resolve) => {
      setTimeout(() => {
        // formData отправляем на сервер, нам приходит обновленый список мест
        session.seats.forEach((seat) => {
          if (seat.id === seatForm.pointId) {
            seat.selected = true;
          }
        });

        alertMessage.value = `Место забранировано, мы вас ждем в ${seatForm.time} :)`;

        resolve();
      }, 1000);
    });
  } catch (e) {
    console.error(e);
    alertMessage.value = "Что-то пошло не так";
  } finally {
    isLoading.value = false;
  }
};
</script>

<template>
  <div class="cinema">
    <div class="cinema__container">
      <h1>Выберите место</h1>
      
      <div class="cinema__movie">
        Фильм: <span class="cinema__movie-name">Barbie</span>
      </div>

      <template v-if="!isLoading">
        <AlertMessage v-if="alertMessage" :text="alertMessage"></AlertMessage>

        <div class="cinema__seat">
          <PlaceSeat
            v-for="seat in session.seats"
            :key="seat.id"
            :seat="seat"
            @choose-place="bookSeat"
          >
          </PlaceSeat>
        </div>
      </template>

      <UiLoader v-else></UiLoader>
    </div>
  </div>
</template>

<style scoped>
.cinema {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  margin: 0 auto;
}

.cinema__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cinema__movie {
  font-size: 24px;
  margin-bottom: 20px;
}

.cinema__movie-name {
  color: rgb(234, 0, 255);
}

.cinema__seat {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
</style>
